

body {
	/*font: normal 1em 'font';*/
	background-color: #707070;
}
.container{
  max-width: 1380px;

}
main {
/*	margin-top: 4.5em; */
}
#section1 {
	height: 30em;
}


/* Multi-Step Form */
* {
  box-sizing: border-box;
}

#regForm {
  background-color: #fff;
  /* margin: 100px auto; */
  /* font-family: Raleway; */
  padding: 40px;
  width: 100%;
  min-width: 600px;
  max-width: 600px;
}

h1 {
  text-align: left;  
  padding-top: 1rem;
  padding-bottom: 1rem;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  /* font-family: Raleway; */
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that get errors during validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #fa6a12;
  color: #ffffff;
  border: none;
  padding: 10px 30px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
}
button:focus {
  
  outline: none;
}
button:hover {
  opacity: 0.8;
}
input:focus-visible {
  outline: none;
}
#prevBtn {
  background-color: #bbbbbb;
}

/* Step marker: Place in the form. */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}